.login-container {
    height: auto;
    padding-top: 4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.login-form-container
{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding:8%;
    background-color: rgba(12, 13, 15, 0.7);;
    border: 1px solid black;   
    width: 50%;
}
.link:visited{
    color:black;
    text-decoration: underline;
}
.link{
    color:black;
    text-decoration: underline;
}
.login-element input
{
    padding: 10px;
}
.login-element
{
    font-family: inherit;
}