.header-container {
  background-color: rgba(12, 13, 15, 0.7);
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  justify-content: end;
  height: 3.33333rem;
  left: 0px;
  padding: 0px;
  position: fixed;
  transition: background 300ms ease-out 0s;
  width: 100%;
  z-index: 3;
  top: 0;
}

.header-links {
  display: none;
  list-style-type: none;
}

@media (min-width: 768px) {
  .header-links {
    display: flex;
  }
}

.a-link {
  text-decoration: none;
  color: white;
}

.li-point {
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  font-weight: 500;
  color: white;
  transition: transform 0.2s ease;
}

.li-point:hover {
  transform: scale(1.05);
}

.hamburger {
  display: flex;
  cursor: pointer;
  padding-right: 1rem;
  z-index: 10;
  color: white;
  align-items: center;
  text-decoration: none;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2.3rem;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #000000, #4b5563);
  color: #718096;
  list-style-type: none;
}

.hamburger-li {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.75rem;
  text-decoration: none;
}
